.admin-container-body {
    overflow-y: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: whitesmoke;
}

.admin-container-1 {
    height: 35vh !important;
    width: 100%;
    background-image: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.98) 100.47%);

    @media (max-width: 768px) {
        height: 20vh !important;
    }
}