.header {
    width: 80%;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    margin-left: 11%;
    line-height: 50px;
}

.header-nav {
    color: white;
    cursor: pointer;
}

.nav-list {
    text-align: center;
}

.nav-list:hover {
    border: 1px solid white;
    opacity: 80%;
}

.header-button {
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.nav-list-background {
    background-color: orange;
    text-align: center;
    height: 50px;
    border-top-right-radius: 20px;
}